// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
body {
  .jumbotron {
    p, h1, img {
      float: left;
    }
    p {
      font-size: 22px;
    }
  }

  h1 {
    margin-bottom: 0;
  }

  h2 {
    text-align: center;
  }

  h4 {
    font-size: 25px;
    font-weight: 600;
  }
  ul li {
    font-size: 20px;
  }
  ul.features {
    list-style-type: none;
    text-align: center;
    li {
      font-size: 26px;
      padding-right: 12px;
    }
  }

  p {
    font-size: 21px
  }

  .list-group {
    width: 100%;
  }

  a.list-group-item {
    width: 215px;
    float: left;
  }
}
